button:focus,
:focus {
  outline: none;
}

.input-goto-page {
  width: 12%;
  display: inline;
  padding: 0;
  // float: right;
  height: calc(1.5em + 0.25rem + 2px);
  margin-right: 15px;
  padding: 0.725rem 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.past-exec{
   margin-top: 10px;
}